<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title></title>
  </head>
  <body>
      {{>header}}
      <h2 class="error">{{errmsg}}</h2>
      {{>footer}}
  </body>
</html>
