<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title></title>
  </head>
  <body>
    {{>header}}
    <!-- <h1>About {{title}}</h1> -->
    <p class="aboutMe">This site is created by Rahi group. It's use mapbox.com and darksky.net for forecasting weather.</p>
    {{>footer}}
  </body>
</html>
