<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

    <title>my express</title>
  </head>
  <body>
    {{>header}}
    <h3 id="note">Use this site for searching Weather</h3>
    <p id="info" >Search Weather</p>
    <form>
      <input class="address"type="text" placeholder="location"><br>
      <button class="search" >Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
   {{>footer}}

   <script src="/js/app.js" charset="utf-8"></script>
  </body>
</html>
