{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
body{
  min-height: 100vh;

}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer{
  padding: 20px;
  color: grey;
  font-size: 32px;
  margin: auto;
  text-align: center;
}

.logo{
  color: blue;
  border-bottom: 2px solid grey;
  height: 75px;
  /* margin-left: 80px;
  margin-top: 100px;*/
  margin-left: 20px;
  text-transform: uppercase;
  font-family: sans-serif;
}

a{
  font-size: 35px;
  text-decoration: none;
}
li{
  list-style: disc;
  padding: 5px;
}
a:hover{
  cursor: pointer;
  color: red;
}

#info{
  color: #2F4F4F;
  /*padding-top: 30px;*/
  font-weight: bold;
  margin-left: 36%;
  margin-top: 90px;
  font-family: monospace;
  font-size: 35px;
}
#note{
  margin-left: 20px;
  margin-top: -80px;
  font-size: 22px;
  font-weight: normal;
  font-family: monospace;
  color: #1E90FF;
  text-align: center;

}
.error{
  text-align: center;
  /*display: inline-block;*/
  margin-top: 100px;
  color: red;
  font-family: inherit;
  font-size: 50px;
}
.address{
  margin-left: 36%;
  width: 300px;
  height: 35px;
  outline: none;
  font-size: 20px;
  border-color: #00BFFF;
  border-radius: 5px;

}
.search{
  outline: none;
  margin-left: 36%;
  margin-top: 25px;
  width: 190px;
  height: 35px;
  background-color: lightblue;
  border-radius: 10px;
  cursor: pointer;
}
#message-1, #message-2{
  margin-left: 36%;
  color: #db0d3d;
  font-size: 24px;
  font-weight: bold;
}
.aboutMe{
  font-size: 26px;
  font-family: arial,serif;
  text-align:center;
  margin-top: 50px;
}
