

<div class="header">
  <h1 class="logo">{{title}}</h1>
  <ul>
    <li>
     <a href="/">weather</a>
    </li>
    <li>
    <a href="/help">help</a>
    </li>
    <li class="about">
    <a href="/about">about</a>
    </li>
  </ul>
</div>
